In [121]:
import numpy as np
import pandas as pd

In [122]:
labels = ['a','b','c']
my_data = [10,20,30]
d = {'a':10,'b':20,'c':30}

# Creating a Series
series = pd.Series(data = my_data)
print(series)

0    10
1    20
2    30
dtype: int64

### Series

In [123]:
# series = pd.Series(my_data,labels) does the same job
series = pd.Series(data = my_data,index=labels)
print(series)

a    10
b    20
c    30
dtype: int64

In [124]:
# Grabing data from series 
print(f"value at key a : {series['a']}")

value at key a : 10

In [125]:
# np.random.randn(5,4) will create 5 rows 4 columns and fill all cells with random value between 0 and 1
matrix = np.random.randn(5,4)
row_levels = ['A','B','C','D','E']
col_levels = ['W','X','Y','Z']

dframe  = pd.DataFrame(matrix,row_levels,col_levels)
dframe

,W,X,Y,Z
A,-1.397248,-1.234897,-0.526860,0.341264
B,0.637557,1.782228,-0.408441,-0.520202
C,-2.868448,-2.038897,-0.834867,-1.776518
D,0.966324,0.248652,-2.002598,1.550939
E,0.116910,-0.733885,-0.253018,-0.310702

### Accessing Values

In [126]:
# every column is Panda Series 
# every row is  also Panda Series 
print(type (dframe['W']))

<class 'pandas.core.series.Series'>

In [127]:
# Accessing Value of Dataframe 
print(dframe['W'])
print(dframe['W']['A'])

A   -1.397248
B    0.637557
C   -2.868448
D    0.966324
E    0.116910
Name: W, dtype: float64
-1.3972483662568198

In [128]:
# Accessing Multiple columns
dframe[['W','Z']]

,W,Z
A,-1.397248,0.341264
B,0.637557,-0.520202
C,-2.868448,-1.776518
D,0.966324,1.550939
E,0.116910,-0.310702

In [129]:
# Accessing row By Key
dframe.loc['A']

W   -1.397248
X   -1.234897
Y   -0.526860
Z    0.341264
Name: A, dtype: float64

In [130]:
# Accessing row by index 
dframe.iloc[0]

W   -1.397248
X   -1.234897
Y   -0.526860
Z    0.341264
Name: A, dtype: float64

In [131]:
# Accessing certaing cell value
# dframe.loc[row,column]

print(dframe.loc['A','W'])
print(dframe.iloc[0][0])

-1.3972483662568198
-1.3972483662568198

### Creating New Column

In [132]:
# dframe['new'] = [1,2,3,4,5]
dframe['X+Y'] = dframe['X'] + dframe['Y']
dframe

,W,X,Y,Z,X+Y
A,-1.397248,-1.234897,-0.526860,0.341264,-1.761758
B,0.637557,1.782228,-0.408441,-0.520202,1.373787
C,-2.868448,-2.038897,-0.834867,-1.776518,-2.873764
D,0.966324,0.248652,-2.002598,1.550939,-1.753946
E,0.116910,-0.733885,-0.253018,-0.310702,-0.986903

### Droping Column

In [133]:
# dframe.drop('X+Y',axis=1,inplace=True) will permenantly remove column otherwise not
dframe.drop('X+Y',axis=1)

,W,X,Y,Z
A,-1.397248,-1.234897,-0.526860,0.341264
B,0.637557,1.782228,-0.408441,-0.520202
C,-2.868448,-2.038897,-0.834867,-1.776518
D,0.966324,0.248652,-2.002598,1.550939
E,0.116910,-0.733885,-0.253018,-0.310702

### Conditional Ouput

In [134]:
dframe[dframe['W']> 0]

,W,X,Y,Z,X+Y
B,0.637557,1.782228,-0.408441,-0.520202,1.373787
D,0.966324,0.248652,-2.002598,1.550939,-1.753946
E,0.116910,-0.733885,-0.253018,-0.310702,-0.986903

In [135]:
# dframe[(condition) & (condition)]
# dframe[(condition) | (condition)]
dframe[(dframe['W']>0) & (dframe['Y']>0)]

### Group By

In [136]:
new_data = [200,300000,200,350000,400,5000000,400,5500000,600,70000000,600,75000000]
new_row_levels = ['Google','Google','Facebook','Facebook','Amazon','Amazon']
new_col_levels = ['Employee','Salary']

new_frame = pd.DataFrame(np.array(new_data).reshape(6,2),new_row_levels,new_col_levels)
new_frame

,Employee,Salary
Google,200,300000
Google,200,350000
Facebook,400,5000000
Facebook,400,5500000
Amazon,600,70000000
Amazon,600,75000000

In [137]:
new_frame['Salary'].sum()

156150000

In [138]:
new_frame['Salary'].mean()

26025000.0

In [139]:
print(new_frame.loc['Google']['Salary'].sum())
print(new_frame.loc['Google']['Employee'].sum())

650000
400

In [140]:
# return which value how many times
new_frame['Employee'].value_counts()

200    2
600    2
400    2
Name: Employee, dtype: int64

In [141]:
# returns unique items of the column
new_frame['Employee'].unique()

array([200, 400, 600])

### Applying Custom function to column of Panda Dataframe

In [142]:
new_frame

,Employee,Salary
Google,200,300000
Google,200,350000
Facebook,400,5000000
Facebook,400,5500000
Amazon,600,70000000
Amazon,600,75000000

In [143]:
def two_times(x):
    return x**2

new_frame['Employee'].apply(two_times)

Google       40000
Google       40000
Facebook    160000
Facebook    160000
Amazon      360000
Amazon      360000
Name: Employee, dtype: int64

### Sorting By A specific Column

In [144]:
new_frame.sort_values(by='Employee')

,Employee,Salary
Google,200,300000
Google,200,350000
Facebook,400,5000000
Facebook,400,5500000
Amazon,600,70000000
Amazon,600,75000000

### Reading and Writing into files

In [145]:
# Reading data
# readedDataFrame = pd.read_csv('csv_file_name.csv')
# Writing Data 
# readedDataFrame.to_csv('file_name_where_to_white_data')