## Multiple Linear Regrerssion 
### In Simple Linear Regression there is only one independent variable and one dependent variable so machine predicts any value of y depend  on only one feature(one independent variable) but in Multiple Linear Regression Machine Predicts value of Y basis on two or more features (Two or more independent variables)

## Declaring Libraries

In [30]:
import pandas as pd
from sklearn import linear_model

## Reading Data and Keeping them as Dataframe

In [9]:
data = pd.read_csv('cars.csv')

In [10]:
data

,Car,Model,Volume,Weight,CO2
0,Toyoty,Aygo,1000,790,99
1,Mitsubishi,Space Star,1200,1160,95
2,Skoda,Citigo,1000,929,95
3,Fiat,500,900,865,90
4,Mini,Cooper,1500,1140,105
5,VW,Up!,1000,929,105
6,Skoda,Fabia,1400,1109,90
7,Mercedes,A-Class,1500,1365,92
8,Ford,Fiesta,1500,1112,98
9,Audi,A1,1600,1150,99
10,Hyundai,I20,1100,980,99
11,Suzuki,Swift,1300,990,101
12,Ford,Fiesta,1000,1112,99
13,Honda,Civic,1600,1252,94
14,Hundai,I30,1600,1326,97
15,Opel,Astra,1600,1330,97
16,BMW,1,1600,1365,99
17,Mazda,3,2200,1280,104
18,Skoda,Rapid,1600,1119,104
19,Ford,Focus,2000,1328,105
20,Ford,Mondeo,1600,1584,94
21,Opel,Insignia,2000,1428,99
22,Mercedes,C-Class,2100,1365,99
23,Skoda,Octavia,1600,1415,99
24,Volvo,S60,2000,1415,99
25,Mercedes,CLA,1500,1465,102
26,Audi,A4,2000,1490,104
27,Audi,A6,2000,1725,114
28,Volvo,V70,1600,1523,109
29,BMW,5,2000,1705,114
30,Mercedes,E-Class,2100,1605,115
31,Volvo,XC70,2000,1746,117
32,Ford,B-Max,1600,1235,104
33,BMW,216,1600,1390,108
34,Opel,Zafira,1600,1405,109
35,Mercedes,SLK,2500,1395,120

In [11]:
X = data[['Volume','Weight']]
Y = data ['CO2']

In [14]:
regression_object = linear_model.LinearRegression()
regression_object.fit(X,Y)

LinearRegression()

In [16]:
# predict what will be the emission of CO2 if volume of car is 2300 and Weight of car is 1300 kg
regression_object.predict([[2300,1300]])

array([107.46304306])

In [17]:
# co-efficients where first value of list denotes emission co2 increasement when volume increases 1 unit and 
#  second value of list denotes emission co2 increasement when weight increases 
print(regression_object.coef_)

co2_increase_by_per_volume_increases = regression_object.coef_[0]
co2_increase_by_per_weight_increases = regression_object.coef_[1]

[0.00780526 0.00755095]