## Logistic Regression which solves Classification Problems

## Loading Data

In [63]:
import pandas as pd
data = pd.read_csv('User_Data.csv')

In [64]:
data

,User ID,Gender,Age,EstimatedSalary,Purchased
0,15624510,Male,19,19000,0
1,15810944,Male,35,20000,0
2,15668575,Female,26,43000,0
3,15603246,Female,27,57000,0
4,15804002,Male,19,76000,0
...,...,...,...,...,...
395,15691863,Female,46,41000,1
396,15706071,Male,51,23000,1
397,15654296,Female,50,20000,1
398,15755018,Male,36,33000,0
399,15594041,Female,49,36000,1

In [65]:

# store data of third and fourth column as value of independent variable
x = data.iloc[:, [2, 3]].values
  
# store data of fifth column as value of depenedent variable
y = data.iloc[:, 4].values

## Preaparing Training and Testing data set

In [66]:
from sklearn.model_selection import train_test_split

In [67]:
# seperating  training ans testing data training data = 0.75 or 75% and testing data = 0.25 or 25%
xtrain,xtest,ytrain,ytest= train_test_split(x,y,train_size=0.25,random_state=0)

In [68]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
xtrain = sc_x.fit_transform(xtrain) 
xtest = sc_x.transform(xtest)

In [69]:
from sklearn.linear_model import LogisticRegression 
classifier = LogisticRegression(random_state=0)
classifier.fit(xtrain,ytrain)

predictedY = classifier.predict(xtest)

In [70]:
# importing Result into confusion metrics
from sklearn.metrics import confusion_matrix

output_matrix= confusion_matrix(ytest,predictedY)

In [71]:
output_matrix

array([[175,  11],
       [ 51,  63]])

## Total 300
## TruePostive + TrueNegative = 175 + 11 = 186
## FalsePositive + FalseNegative = 51 + 63 = 114

## Measuring Accuracy

In [72]:
from sklearn.metrics import accuracy_score 
accuracy = accuracy_score(ytest,predictedY)

print(f'Accuracy : {accuracy} in percentage : {accuracy*100}%')

Accuracy : 0.7933333333333333 in percentage : 79.33333333333333%